@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');


body {
  font-family: 'Roboto', sans-serif;
  background-color: #272c38;
  color: #f0f0f0;
  text-align: center;
}

h1 {
  font-family: 'Poppins', sans-serif;
  color: #008ABF;
}

h3 {
  font-family: 'Poppins', sans-serif;
  color: #008ABF;
  margin: 2px;
  margin-bottom: 5px;
}

.navBar {
  background-color: #1f232d;
}

.searchField {
  width: 400px;
  height: 40px;
  background-color: #1f232d;
  color: #f0f0f0;
  border: 1px solid #008ABF;
}