@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

@media(min-width: 768px) {
  .primaryDisplay {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #272c38;
  color: #f0f0f0;
}

h1 {
  font-family: 'Poppins', sans-serif;
  color: #008ABF;
}

h3 {
  font-family: 'Poppins', sans-serif;
  color: #008ABF;
  margin: 2px;
  margin-bottom: 5px;
}

.navBar {
  background-color: #1f232d;
}

.cocktailCard {
    margin: 5px;
    padding: 10px;
    padding-bottom: 10px;
    width: 400px;
    background-color: #1f232d;
    max-height: 200px;
}

p {
    margin: 5px;
    padding-bottom: 10px;
}

.ingredientSpan {
    margin-bottom: 50px;
    padding-bottom: 20px;
}

.expandedCocktailCard {
    margin: 5px;
    padding: 10px;
    padding-bottom: 10px;
    text-align: center;
    width: 95%;
    background-color: #1f232d;
    display: inline-block;
    flex: 9;
    order: 2;

}

.cardImgLarge {
    width: 100;
    height: 300;
}

.ingredientButtons {
  max-width: 130px;
}

.ingredientButtons button {
  min-width: 160px;
  min-height: 20px;
  margin: 2px;
  padding: 5px;
  text-align: left;
  color: #008ABF;
  background-color: #1f232d;
  border: none;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

.searchField {
  width: 160px;
  height: 30px;
  background-color: #1f232d;
  color: #f0f0f0;
  border: 1px solid #008ABF;
  margin-bottom: 6px;
}

.primaryDisplay {
  display: flex;
  min-height: calc(100vh - 40vh);
}

.navigation {
  /* margin-top: 15px;
  max-width: 110px;
  padding: 5px; */
  /* flex: 1;
  order: 1;
  width: 15%; */
  flex: 0 0 20vw;
  order: -1;
}

.cardArea {
  /* flex: 9;
  order: 2;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between; */
  /* flex: 1; */
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex: 0 1 calc(25% - 1em);
}

.cocktailCard {
  /* margin: 5px;
  padding: 10px;
  padding-bottom: 10px;
  width: 25%; */
  background-color: #1f232d;
  /* max-height: 200px; */
  /* flex: 0 1 24%; */
  box-shadow: 0 6px 10px -5px rgba(0, 0, 0, 0.5);
}


.cocktailCardContent {
  display: flex;
}

.cocktailCardText {
  text-align: center;
  padding-left: 5px;
  align-self: center;
}

.cardImg {
  height: 50px;
  width: 100px;
  height: auto;
  display: block;
}

